.DS_Store
src/
test/
tmp/
node_modules/
build/
examples/
packages/
Makefile
coverage
ppveyor.yml
*.log
yarn.lock
.git/
.babelrc
.editorconfig
.eslintrc
.gitignore
lerna.json
.travis.yml
.npmignore
.nyc_output
