@charset "UTF-8";
@import "./common/var.css";
@import './mixins/setOnepx';
@import './mixins/text';

@component-namespace sealui {
    @b grids {
        position: relative;
        overflow: hidden;
        &:before {
            @mixin setTopLine var(--base-border-line-color);
        }
        &:after {
            @mixin setLeftLine var(--base-border-line-color);
        }
    }
    @b grid{
        position: relative;
        float: left;
        padding: .2rem .1rem;
        width: calc(100% / 3);
        box-sizing: border-box;

        &:before {
            @mixin setRightLine var(--base-border-line-color);
        }
        &:after {
            @mixin setBottomLine var(--base-border-line-color);
        }
        &:active {
            background-color:var(--base-background-color-active);
        }

        @e icon{
            width: .28rem;
            height: .28rem;
            margin: 0 auto;

            img {
                display: block;
                width: 100%;
                height: 100%;
            }

            & + .sealui-grid__label{
                margin-top: .05rem;
            }
        }
        @e label{
            display: block;
            text-align: center;
            color:#000;
            font-size:.14rem;
            @mixin ellipsis auto;
        }
    }
}
