@charset "UTF-8";
@import "./common/var.css";
@import './mixins/setOnepx';
@import './mixins/text';

@component-namespace sealui {
    @b sticky {
        width: 100%;
        position: sticky;
        top: 0;

        @e box {
            z-index:9000;
        }
    }
}
