@charset "UTF-8";
@import './var.css';

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.sealui-animate-fade-in {
    animation: fadeIn ease .3s forwards;
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.sealui-animate-fade-out {
    animation: fadeOut ease .3s forwards;
}

@keyframes slideUp {
    from {
        transform: translate3d(0, 100%, 0);
    }

    to {
        transform: translate3d(0, 0, 0);
    }
}

.sealui-animate-slide-up {
    animation: slideUp ease .3s forwards;
}

@keyframes slideDown {
    from {
        transform: translate3d(0, 0, 0);
    }

    to {
        transform: translate3d(0, 100%, 0);
    }
}

.sealui-animate-slide-down {
    animation: slideDown ease .3s forwards;
}

@keyframes slideUpAndroid {
    from {
        transform: translate3d(-50%, 0%, 0);
    }

    to {
        transform: translate3d(-50%, -50%, 0);
    }
}

.sealui-skin_android .sealui-animate-slide-up {
    animation: slideUpAndroid ease .3s forwards;
}

@keyframes slideDownAndroid {
    from {
        transform: translate3d(-50%, -50%, 0);
    }

    to {
        transform: translate3d(-50%, 0%, 0);
    }
}

.sealui-skin_android .sealui-animate-slide-down {
    animation: slideDownAndroid ease .3s forwards;
}




.sealui-zoom-in-center-enter,
.sealui-zoom-in-center-leave-active {
  opacity: 0;
  transform: scaleX(0);
}
.sealui-zoom-in-center-enter-active,
.sealui-zoom-in-center-leave-active {
  transition: all .3s cubic-bezier(.55,0,.1,1);
}

.sealui-toptips-top-fade-enter,
.sealui-toptips-top-fade-leave-active {
	opacity: 0;
	transform: translate(0%, -100%);
}
.sealui-toptips-bottom-fade-enter,
.sealui-toptips-bottom-fade-leave-active {
	opacity: 0;
	transform: translate(0%, 0%);
}

.sealui-toast-fade-enter,
.sealui-toast-fade-leave-active {
	opacity: 0;
}

.sealui-message-box-bounce-enter {
	opacity: 0;
    transform: translate3d(-50%, -50%, 0) scale(0.7);
}
.sealui-message-box-bounce-leave-active {
	opacity: 0;
    transform: translate3d(-50%, -50%, 0) scale(0.9);
}
.v-modal-enter {
  -webkit-animation: v-modal-in .3s ease;
          animation: v-modal-in .3s ease;
}

.v-modal-leave {
  -webkit-animation: v-modal-out .3s ease forwards;
          animation: v-modal-out .3s ease forwards;
}

@-webkit-keyframes v-modal-in {
  0% {
    opacity: 0;
  }
  100% {
  }
}

@keyframes v-modal-in {
  0% {
    opacity: 0;
  }
  100% {
  }
}

@-webkit-keyframes v-modal-out {
  0% {
  }
  100% {
    opacity: 0;
  }
}

@keyframes v-modal-out {
  0% {
  }
  100% {
    opacity: 0;
  }
}

.v-modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.6;
  background: #000;
}

